.menu {
    padding-left: 0;
    &__item {
        color: red;
        &.active {
            color: green;
        }
    }
}

@media (min-width: 768px) {
    .menu {
        padding-left: 20px;
        &__item {
            padding-left: 30px;
        }
    }
}