* {
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.body {
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: gray;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.products {
    padding-top: 125px;
    padding-bottom: 104px;
}

.products-label {
    color: rgba(199, 37, 53, 0.6);
    text-align: center;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.03px;
    text-transform: uppercase;
}

.products-title {
    color: #030D15;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 22px;
}

.products-tab {
    text-align: center;
    margin-bottom: 50px;
}

.products-tab-btn {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    color: rgba(3, 13, 21, 0.6);
    margin: 0 20px;
    padding: 0;
}

.products-tab-btn:hover{
    color: #C72535;
}

.products-tab-btn.is-active {
    color: #C72535;
}

.products-item {
    float: left;
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 35px;
}

.products-item-text {
    color: #030D15;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 12px;
}

.products-item-pic {
    text-align: center;
    margin-bottom: 72px;
}

.products-item-title {
    color: #030D15;
    font-size: 25px;
    line-height: normal;
}

.products-item-price {
    color: #030D15;
    font-size: 16px;
    line-height: normal;
}

.products-item-price span {
    color: rgba(3, 13, 21, 0.5);
    text-decoration: line-through;
}

.mr-0 {
    margin-right: 0;
}