*, *::before, *::after  {
    box-sizing: border-box;
}
.item {
    border: 5px solid black;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 24px;
}

.wrapper {
    max-width: 1200px;
    min-width: 320px;
}

.g-30px {
    --bs-gutter-x: 1.875rem;
}